*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.Nebula{
    background-color: rgb(255, 255, 255);
}

.SizeDiv1{
    padding-top: 10rem;
    height: 100vh;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #ffffff;
    background-image: url(../assets/nebula.png);
}

.BigTitle{
    font-size: 5.25rem;
    font-weight: 700;
    color: #142F48;
}

.SmallTitle{
    font-size: 2rem;
    font-weight: 600;
    color: #142F48; 
}

.SmallTitle2{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #142F48; 
}

.GetTouch {
    background-color: #05668D;
    border: #05668D solid 3px;
    border-radius: 150px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
}

.GetTouch:hover {
    background-color: #ffffff;
    border: #05668D solid 3px;
    color: #05668D;

}

#IconGetTouch{
    margin-left: 0.5rem;
}

.front-image {
    margin-top: -10rem !important;
    width: 45rem;
}

@media screen and (max-width:1550px) {
    .front-image {
        width: 0rem;
    }
    .second{
        display: none;
    }
}

@media screen and (max-width:1450px) {
    .SizeDiv{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}

@media screen and (max-width:950px) {
    .BigTitle{
        font-size: 4rem;
    }
    .SmallTitle, .SmallTitle2 {
        font-size: 1.5rem;
    }
    .GetTouch{
        font-size: 1rem;
    }
    .SizeDiv{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}
